@import "slick-carousel/slick/slick.css";
@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */

.has-text-align-left {
  @apply text-left;
}

.has-text-align-center {
  @apply text-center;
}

.has-text-align-right {
  @apply text-right;
}

.has-large-font-size {
  @apply text-4xl;
}

.alignfull {
  @apply w-screen relative;

  left: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  max-width: 100vw;
  right: 50%;
}

.wp-block-image img {
  @apply max-w-full mt-2;
}
.wp-block-image.aligncenter {
  @apply text-center;
}
.wp-block-image.alignfull img,
.wp-block-image.alignwide img {
  @apply w-full;
}
.wp-block-image .alignleft,
.wp-block-image .alignright,
.wp-block-image .aligncenter,
.wp-block-image.is-resized {
  @apply table ml-0 mr-0;
}
.wp-block-image .alignleft > figcaption,
.wp-block-image .alignright > figcaption,
.wp-block-image .aligncenter > figcaption,
.wp-block-image.is-resized > figcaption {
  @apply table-caption;

  caption-side: bottom;
}

.wp-block-image .alignleft {
  @apply float-left mr-4;
}
.wp-block-image .alignright {
  @apply float-right ml-4;
}
.wp-block-image .aligncenter {
  @apply m-auto;
}

.wp-block-button a,
.wp-block-file a.wp-block-file__button {
  @apply bg-blue-500 text-white no-underline py-2 px-4;
}

.wp-block-button a:hover,
.wp-block-file a.wp-block-file__button:hover {
  @apply bg-blue-400 cursor-pointer;
}

.wp-block-file a:first-of-type {
  @apply mr-4;
}

.wp-block-cover {
  @apply flex flex-wrap justify-center items-center bg-cover bg-center overflow-hidden;

  min-height: 430px;
}

.wp-block-verse {
  @apply font-sans;
}

.wp-block-media-text {
  @apply grid grid-cols-2 gap-4;
}

/* Custom styles */
body {
  font-family: "Ubuntu", sans-serif;
}

#service_3,
#service_4,
#service_5 {
  margin-top: 50px;
}
#Vision {
  background: #282c4b;
  color: #fff !important;
  margin-top: 100px;
}
#Vision .service-card .service-heading-sec h5 {
  color: #fff !important;
}
.border-radius {
  border-radius: 50px;
  padding: 0;
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;  
}
.border-radius p {
  margin-top: 10px;
  font-weight: 600;
}
.border-1 {
  border: 1px solid #DDDDDD;
}
.border-1-5 {
  border:1px solid #747582;
}

.MuiPaper-elevation9, .MuiPopover-root .MuiPaper-elevation {
  box-shadow: rgb(145 158 171 / 30%) 0px 0px 2px 0px,rgb(145 158 171 / 12%) 0px 12px 24px -4px!important;
}
.sub-icon > svg {
  width:10px;
  height:10px;
}
.border-l-4 {
  border-left: 4px solid #e89188 !important;
  border-radius: 0 !important;
}
.mui-style-cveggr-MuiListItemIcon-root {
    min-width: 35px !important; 

}
.mui-style-cveggr-MuiListItemIcon-root:last-child {   
    justify-content: end;
}

.mui-style-o4b71y-MuiAccordionSummary-content.Mui-expanded, .mui-style-1iji0d4 {
    margin: 0;    
    width: 100%;
    display: inline-block;
    background: #f5f5f5;
    justify-content: space-between;
    align-items: center;    
    border-radius: 0 !important;    
}
.mui-style-o4b71y-MuiAccordionSummary-content.Mui-expanded:hover, .accordion-div-main > div:hover {
  border-left: 0px solid #e89188 !important;
} 
.mui-style-o4b71y-MuiAccordionSummary-content, .mui-style-17o5nyn, .accordion-div-main > div {
  margin: 0 !important;    
  width: 100%;
  display: inline-block !important;
}

.mui-style-1dgfu6o-MuiButtonBase-root-MuiListItem-root:hover, .mui-style-q801yl:hover, .accordion-div-item:hover {
  border-left: 4px solid #e89188 !important;
  background: #f5f5f5 !important;     
  border-radius: 0 !important;  
}

.mui-style-xmzdpb-MuiPaper-root-MuiAccordion-root.Mui-expanded, .mui-style-xmzdpb-MuiPaper-root-MuiAccordion-root, .mui-style-11f2y1l {
  box-shadow:none !important;  
}
.mui-style-xmzdpb-MuiPaper-root-MuiAccordion-root:before, .mui-style-11f2y1l::before {
  opacity: 0 !important; 
}
.mui-style-1dgfu6o-MuiButtonBase-root-MuiListItem-root, .mui-style-q801yl, .accordion-div-item {
  padding: 10px 5px !important;
}
.mui-style-xmzdpb-MuiPaper-root-MuiAccordion-root:first-of-type, .mui-style-11f2y1l:first-of-type {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}
.mui-style-sh22l5-MuiButtonBase-root-MuiAccordionSummary-root {
  margin-bottom: 10px;
}
.mui-style-1dgfu6o-MuiButtonBase-root-MuiListItem-root.Mui-selected {
  background-color: inherit !important;
}

.custom-text-area {  
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.23);
}

.custom-text-area:hover {
  border-color: #000;
}

.custom-text-area:focus, .custom-text-area:focus-visible {
  border-radius: 3px;
  border: 1px solid #556cd6;  
  outline-style: solid;
  outline-color: #556cd6;
}